<div class="row">
    <div class="col-9">
        <h2 class="text-primary">
            CoverType List
        </h2>
    </div>
    <div class="col-3">
        <a class="btn btn-info form-control" asp-action="Upsert">
            <i class="fas fa-plus"></i>&nbsp; Add New CoverType
        </a> 
    </div>
    </div>
    <div class=" container rounded border m-2 p-2">
        <table id="tblData" class=" table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Action</th>
                </tr>
</thead>
        </table>
    </div>
    @section Scripts{
        <script src="~/js/covertype.js"></script>
    }