<div class="row">
    <div class="col">
        <button class="btn btn-primary form-control" type="submit">
            Update
        </button>
    </div>
    <div class="col">
        <a class="btn btn-success form-control" asp-action="Index">
            Back To List
        </a>
    </div>
</div>