@model Ecomm_2504_thu.Models.ViewModels.ProductVM
@{
    ViewData["Title"] = "Upsert";
    var title = Model.Product.Id != 0 ? "Edit Product" : "New Product";
}
<div>
    <h2 class="text-primary">
        @title
    </h2>
</div>
<div class="row">
    <div class="col-6">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (Model.Product.Id != 0)
            {
                <input type="hidden" asp-for="@Model.Product.Id"/>
            }
            <div class="form-group">
                <label asp-for="Product.Title"></label>
                <input class="form-control" asp-for="Product.Title" />
                <span asp-validation-for="Product.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.ISBN"></label>
                <input class="form-control" asp-for="Product.ISBN" />
                <span asp-validation-for="Product.ISBN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Author"></label>
                <input class="form-control" asp-for="Product.Author" />
                <span asp-validation-for="Product.Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Description"></label>
                <textarea rows="3" class="form-control" asp-for="Product.Description" ></textarea> 
                <span asp-validation-for="Product.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.ListPrice"></label>
                <input class="form-control" asp-for="Product.ListPrice" />
                <span asp-validation-for="Product.ListPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Price"></label>
                <input class="form-control" asp-for="Product.Price" />
                <span asp-validation-for="Product.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Price50"></label>
                <input class="form-control" asp-for="Product.Price50" />
                <span asp-validation-for="Product.Price50" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Price100"></label>
                <input class="form-control" asp-for="Product.Price100" />
                <span asp-validation-for="Product.Price100" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.ImageUrl"></label>
                <input type="file" class="form-control" id="uploadBox" name="files" asp-for="Product.ImageUrl" />
@*                <span asp-validation-for="Product.ImageUrl" class="text-danger"></span>
*@            </div>
            <div class="form-group">
                <label asp-for="Product.CategoryId"></label>
                <select class="form-control" asp-for="Product.CategoryId" asp-items="Model.CategoryList">
                    <option>Select Category</option>
                </select>
                <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.CoverTypeId"></label>
                <select class="form-control" asp-for="Product.CoverTypeId" asp-items="Model.CoverTypeList">
                    <option>Select CoverType</option>
                </select>
                <span asp-validation-for="Product.CoverTypeId" class="text-danger"></span>
            </div>
            @if (Model.Product.Id != 0)
            {
                <div class="form-group">
                    <partial name="_EditAndBackToList" />
                </div>
            }
            else
            {
                <div class="row">
                    <div class="col">
                        <button class="btn btn-primary form-control" onclick="return ValData()" type="submit">
                            Save
                        </button>
                    </div>
                    <div class="col">
                        <a class="btn btn-success form-control" asp-action="Index">
                            Back To List
                        </a>
                    </div>
                </div>
            }
            
        </form>
    </div>
    <div class="col-6">
        @if (Model.Product.Id != 0)
        {
            <img src="@Model.Product.ImageUrl"/>
        }
    </div>
</div>
@section Scripts{
        <script src="https://cdn.tiny.cloud/1/yceb7wqr2ps5v3vunieemb9syejgjl73j210uk6duakmo75e/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
        <script>
            tinymce.init({
                selector:"textarea",
                plugin:"lists",
                menubar:"file edit format"
            })
            function ValData(){
            if (document.getElementById = "uploadBox".value == "") {
                    swal("Error",'Please Select Image','error');
                    return false
                }
               
            }
        </script>
}